<div style="float: left;">
	<ul>
		<li>Home</li>
		<li>Posts</li>
		<li></li>
	</ul>
</div>

<div style="float: left;">
	<ul>
		<li>About Us</li>
		<li>Contact</li>
		<li></li>
	</ul>
</div>

<div>
	<p>Developed by SJG 2021</p>
</div>