<% layout('layouts/boilerplate') -%>
<h2>Edit Post</h2>
<form method="POST" id="newForm">
	<div>
		<label for="title">Title</label><br />
		<input type="text" name="title" />	
	</div>
	
	<div>
		<label for="price">Price</label><br />
		<input type="text" name="price" />	
	</div>
	
	<div>
		<label for="description">Description</label><br />
		<textarea name="description"></textarea>	
	</div>
	
	<div>
		<label for="location">Location</label><br />
		<input type="text" name="location" />	
	</div>
	
	<div>
		<button type="submit" form="newForm">Submit</button>
	</div>
</form>

<script src="/javascripts/post-edit.js"></script>